.logic-map-panes {
  display: flex;
}

.logic-map-panes .content {
  display: flex;
  width: 80%;
  align-items: flex-start;
  justify-content: space-between;
  white-space: pre-wrap;
  word-break: break-all;
}
.logic-map-panes .mapping {
  width: 20%;
  font-size: 0.7em;
}

.logic-map-panes .content .main-content {
  width: 50%;
}
.logic-map-panes .content .references,
.logic-map-panes .content .includes {
  width: 20%;
}
.logic-map-panes .content .references {
  transform: scale(0.7);
  transform-origin: top left;
}
.logic-map-panes .content .includes {
  transform: scale(0.7);
  transform-origin: top right;
}

.func-decl {
  display: block;
}
.simple-code,
.func-call {
  display: inline;
}
.simple-code {
  opacity: 0.5;
  background-color: rgba(153, 153, 153, 0.1);
}
.func-decl {
  background-color: rgba(153, 153, 153, 0.158);
  border: 1px solid #777;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}
.func-call {
  background-color: rgb(150 210 163 / 56%);
}

.file-view {
  max-width: 600px;
  padding: 3px;
  margin: 1em;
  background-color: rgba(153, 153, 153, 0.05);
  border: 1px solid #999;
  border-radius: 3px;
}
.file-view .file-view-heading {
  padding: 5px;
  margin-bottom: 0.7em;
  border-bottom: 1px solid lightgrey;
}
